.chartDiv {
    border: 1px solid black;
    width: 70%;
    float: left;
}

#patientSelectDiv {
    width:60px;
    height:60px;
    border: 1px solid black;
    left:70%
}

.line > path {
    fill-opacity: 0;
}

path {
    fill-opacity: .7;
    stroke-width: 1px;
}

.shade_rect {
    fill-opacity: .2;
}

.infoDiv {
    border: 1px solid black;
    float:right;
}

#selectedRectTrueMarker {
    position : absolute;
    z-index: -10;
}

.trapezoid {
    position: absolute;
    top: 100px;
}
#EEGInfoDiv {
    position: absolute;
    padding-top: 10px;
}
.textDiv {
    height:28px;
}
#patientInfoDiv {
    position: absolute;
    border: 1px solid black;
}
.sleepStageHeaderNum:first-of-type {
    margin-left: 3px;
}
.sleepStageHeaderNum{
    width:40px;
    text-align: center;
}
.sleepStageHeaderText {
    margin-right:10px;
}
.sleepStageMinsTitle {
    margin-right:38px;
}


.sleepStageHeader {
    display: flex;
}
.sleepStageMins {
    display: flex;
}

.sleepMinSpan {
    width:40px;
    text-align: center;
}

.sleepStagePcts {
    display: flex;
}

.sleepStagePctHeader {
    margin-right: 42px;
}

.sleepPctSpan {
    width : 40px
}

#sleepStageDiv {
    border: 1px solid black;
}
.sleepStageHeader {
    border: 1px solid black;
}

.avgStatsRow {
    text-align: center;
}

.EEGChart > path {
    fill:none;
    stroke:black;
    stroke-width: 1px;
}
#spectCanvas {
    margin-left:20px
}